* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card-1,
.card-2,
.card-3 {
    background-color: white;
    border-radius: 5px;
    width: 190px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(129, 116, 98);
    height: 10vh;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 30px;
    color: whitesmoke;
}